{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'web2/front_page.css' %}">
</head>

<body>
    <div id="heading">
        <h1>Mental Health Checkup</h1>
    </div>
    <div class="container">
                <h2 class="title">About Us</h2>
        <p class="description">One of the quickest and easiest ways to determine whether you are experiencing symptoms of a mental health condition.</p>
        <div class="button-container">
            <a href="page3" class="button">Take a Test</a>
        </div>
    </div>
</body>
</html>



  